<div class="jumbotron">
    <div class="bg-image" style="background-color: #2e8b57; /* 薄暗い緑 */
    min-height: 50vh; height: auto;">
    
    <div class="container" style="display: flex; justify-content: center; align-items: center; min-height: 50vh; height: auto;">
      <h1 style="color:white; text-align: center;">Web Application EJS + Express</h1>   
   </div>
</div>
