<!-- 本検索フォーム（google books api） -->
<form id="search-form">
    <label for="pref">本の検索:</label>
    <input type="text" id="search-input" placeholder="キーワードを入力">
    <button type="submit">検索</button>
</form>
<div id="results"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/scripts/booksearch_googleapi.js"></script>