<div class="geocode-form-container" style="
    margin-bottom: 20px;
    padding: 15px;
    padding-top: 3%;
    padding-right: 5%;  /* デフォルトで15% */
    padding-left: 5%;">

    <h3>近隣図書館での蔵書検索</h3>
    <form id="geocode-form">
        <input type="text" id="keyword-input" placeholder="地名を入力" required>
        <button type="submit">検索</button>
        <button type="button" id="location-button">現在地で検索</button>
    </form>
    <div id="geocode-result"></div>
</div>