<div class="geocode-form-container"></div>
    <h3>図書館蔵書検索</h3>
    <form id="geocode-form">
        <input type="text" id="keyword-input" placeholder="地名を入力" required>
        <button type="submit">検索</button>
    </form>
    <div id="geocode-result"></div>
</div>