<div class="geocode-form-container"></div>
    <h3>近隣図書館での蔵書検索</h3>
    <form id="geocode-form">
        <input type="text" id="keyword-input" placeholder="地名を入力" required>
        <button type="submit">検索</button>
        <button type="button" id="location-button">現在地で検索</button>
    </form>
    <div id="geocode-result"></div>
</div>