<div class="geocode-form-container" style="
    margin-bottom: 20px;
    padding: 15px;
    padding-top: 3%;
    padding-right: 5%;  /* デフォルトで15% */
    padding-left: 5%;">

    <h4>近隣図書館での蔵書検索</h4>
    <form id="geocode-form">
        <div class="input-group">
            <input type="text" id="keyword-input" placeholder="地名を入力" class="form-control" style="width: 300px;">
            <div class="input-group-append">
                <button type="submit" class="btn custom-btn">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>

        <button type="button" id="location-button">
            <i class="fas fa-map-marker-alt"></i>
        </button>          
    </form>
    <div id="geocode-result"></div>
</div>