<div class="description-section">
    <h3>使い方</h3>
    <br>
    <p>このサイトでは、以下の手順で図書館の蔵書を検索できます:</p>
    <ol>
      <li>検索フォームにキーワード（書名や著者名など）を入力して、検索ボタンを押してください。</li>
      <li>表示された本の表紙をクリックします。</li>
      <li>クリックした本の詳細ページが表示されます。</li>
      <li>図書館の蔵書が検索したい場合、地域や図書館を指定して検索ボタンをクリック or 緑色のピンがアイコンの現在地から検索ボタンをクリックします。
        <br><strong>※地域を入力する際、同名の目的とは別の地域で検索される場合があります。その時は、都道府県名も入力する、などの対策を行ってください。</strong>
      </li>
      <li>蔵書がある本に関しては、必要に応じて予約リンクをクリックします。</li>
    </ol>
    <br>
    <p>このサイトは、カーリル図書館API、楽天ブックスAPI、Google Maps APIを利用しています。</p>
</div>