<div class="description-section">
    <h3>使い方</h3>
    <br>
    <p>このアプリでは、以下の手順で図書館の蔵書を検索できます:</p>
    <ol>
      <li>検索フォームにキーワード（書名や著者名など）を入力して、検索ボタンを押してください。</li>
      <li>表示された本の表紙をクリックします。</li>
      <li>クリックした本の詳細ページが表示されます。</li>
      <li>図書館の蔵書が検索したい場合、地域や図書館を指定して検索ボタンをクリック or 緑色のピンがアイコンの現在地から検索ボタンをクリックします。</li>
      <li>蔵書がある本に関しては、必要に応じて予約リンクをクリックします。</li>
    </ol>
    <br>
    <p>このアプリは図書館APIを活用して、最新の蔵書情報を取得しています。</p>
</div>